misc/
__pycache__/
sample_results/bar/temp/debug_crops/
sample_results/dot/temp/debug_crops/
sample_results/line/temp/debug_crops/
data/
*.pkl
*.pbtxt
pipeline/results/
pipeline/temp/
pipeline/*.png
*.sh
